---
import MaxWidth from "../layouts/MaxWidth.astro"
---

<section class="bg-colorRose text-white pt-[220px] relative z-10 text-center pb-[120px]">
    <MaxWidth>
        <div class="">
            <h2 class="relative">
                Hacer staking de forma sostenible con Nodos autorreparables
                <span class="w-[75%] left-[50%] translate-x-[-50%] h-[8px] sm:h-[15px] block bg-colorBeig absolute bottom-[2px] sm:bottom-[9px] rounded-full opacity-60 -z-10 sm:w-[63%] "></span>
            </h2>
            <p>
                Potenciar la infraestructura de staking institucional con un tiempo de actividad inigualable, aprovechando los nodos autorreparables y la energía renovable en toda América Latina.
            </p>
            <div class="flex flex-wrap sm:flex-nowrap justify-center items-center gap-[10px] mt-[30px]">
                <a class="w-full sm:w-auto pt-[10px] pb-[6px] px-[25px] rounded-[8px] bg-colorBlueDark border border-colorBlue border-b-[5px] opacity-100 hover:opacity-70 duration-300" href="#">
                    Reserva una llamada
                </a>
                <a class="w-full sm:w-auto pt-[10px] pb-[6px] px-[25px] rounded-[8px]  border border-white border-b-[5px] opacity-100 hover:opacity-70 duration-300" href="#">
                    Aprende más
                </a>
            </div>
        </div>
        <picture>
            <img 
            src="/hero.webp" 
            alt="hero">
        </picture>
        <div class="flex flex-wrap gap-[30px] mt-[40px]">
            <h3 class="w-full">
                Ejecución de la infraestructura del nodo en:
            </h3>
            <div class="flex flex-wrap sm:flex-nowrap justify-center  items-center gap-[40px]">
                <li class="w-[35%] sm:w-[25%]">
                    <img class="w-[100%]"
                    src="/company-1.svg" 
                    alt="company">
                </li>
                <li class="w-[35%] sm:w-[25%]">
                    <img class="w-[100%]"
                    src="/company-2.svg" 
                    alt="company">
                </li>
                <li class="w-[35%] sm:w-[25%]">
                    <img class="w-[100%]"
                    src="/company-3.svg" 
                    alt="company">
                </li>
                <li class="w-[35%] sm:w-[25%]">
                    <img class="w-[100%]"
                    src="/company-4.svg" 
                    alt="company">
                </li>
            </div>
        </div>
        
    </MaxWidth>
    <svg
    class="absolute top-[100%] w-full -z-20" 
    viewBox="0 0 2560 200" 
    preserveAspectRatio="none"> 
       <path d="M2334.04 59.5628C2682.72 37.9958 2832.63 103.828 2864 139.44V-226H-346C-310.147 -130.812 -140.291 59.5628 252.303 59.5628C743.047 59.5628 842.764 112.482 1333.51 162.405C1824.25 212.329 1898.2 86.5215 2334.04 59.5628Z" fill="#e38476">
        </path> 
    </svg>
</section>